
/* FAIL: turn off default focus indicator!
*/
:focus-visible,
:focus {
  outline: none;
}

/* FAIL: low contrast!
*/
.low-contrast {
  background-color: #eee;
  color: #bbb;
}

:link {
  border: 3px solid blue;
  display: inline-block;
  min-height: 1rem;
  min-width: 5rem;
}

body {
  font-size: 12px;
  margin: auto;
  min-width: 340px;
}
