
/* FAIL: turn off default focus indicator! (2.4.7 Focus Visible)
*/
:focus-visible,
:focus {
  outline: none;
}

/* FAIL: 1.4.3 Contrast (Minimum).
*/
.low-contrast {
  background-color: #eee;
  color: #bbb;
}

.empty-link {
  border: 3px solid blue;
  display: inline-block;
  min-height: 1rem;
  min-width: 5rem;
}

body {
  font-size: 14px;
  margin: auto;
  max-width: 37rem;
  min-width: 340px;
  padding: 0 1rem 1rem;
}

iframe {
  display: block;
}

x-test[ fail ] {
  border: 1px solid darkred;
  display: block;
  padding: .5rem;
}

x-test[ fail ] x-test-desc {
  color: darkred;
}
